.links {
  display: flex;
  align-items: center;
  list-style: none;
}

.item {
  margin-left: 4rem;
}

.link:link,
.link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.button:link,
.button:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.button:hover,
.button:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #333;
}
